:root{
  --bg-main: #0f0f0f;
  --bg-secondary: #181818;
  --card-bg: #1f1f1f;
  --hover-bg: #272727;

  --text-primary: #ffffff;
  --text-secondary: #aaaaaa;

  --accent: #ff0000;

  --border: #2a2a2a;
}
