.container{
  padding: 10px 5px;
}

.title{
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 22px;
}

.cardLink{
  text-decoration: none;
  color: white;
}
