.sidebar{
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  background:#020617;
  border-right:1px solid #1e293b;
  transition:width 0.25s ease;
  overflow-y:auto;
}

.open{
  width:220px;
}

.close{
  width:70px;
}


.open{
  width:220px;
}

.close{
  width:70px;
}

.item{
  display:flex;
  align-items:center;
  gap:15px;
  padding:14px 18px;
  color:#cbd5e1;
  text-decoration:none;
  font-size:15px;
  border-radius:12px;
  margin:8px;
  transition:0.2s;
}

.item:hover{
  background:#1e293b;
  color:white;
}

.item svg{
  min-width:22px;
}

.active{
  background:#1e293b;
  color:white;
}
