.card {
  text-decoration: none;
  color: white;
  display: block;
}

.thumbnail {
  width: 100%;
  border-radius: 14px;
  object-fit: cover;
  aspect-ratio: 16/9;
  transition: 0.2s;
}

.card:hover .thumbnail {
  transform: scale(1.03);
}

.details {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.channelPic {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}

.meta {
  flex: 1;
}

.title {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3;
  margin: 0 0 4px 0;
  color: #f1f5f9;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.channel {
  font-size: 13px;
  color: #94a3b8;
  margin: 0;
}

.stats {
  font-size: 13px;
  color: #94a3b8;
  margin-top: 2px;
}
