.video-card{
    width: 100%;
    cursor: pointer;
}

.thumbnail{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 14px;
    overflow: hidden;
}

.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-info{
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

.video-info img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.video-title{
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.channel{
    font-size: 13px;
    color: #aaa;
}

.feed-title{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 4px;
}
