*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Inter", sans-serif;
}

body{
  background: var(--bg-main);
  color: var(--text-primary);
}

a{
  text-decoration:none;
  color:inherit;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-track{
  background:#0f0f0f;
}

::-webkit-scrollbar-thumb{
  background:#2a2a2a;
  border-radius:10px;
}

h1{
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 22px;
  letter-spacing: -0.3px;
}

html, body, #root{
  height:100%;
}
